.home-page-container {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    min-height: 100vh;

    .home-main-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .home-main-content {
            width: 100%;
            max-width: 1200px;
            display: flex;
            gap: 2rem;
        }
    }
}